body {
    background-color: #777;
    width: 960px;
    text-align: center;
    color: rgb(135, 135, 135);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
 
header {
    background-color: rgb(235, 235, 235);
    padding: 25px;
}

nav {
    background-color: rgb(235, 235, 235);
    padding: 25px;
    margin-top: 7px;
}

section {
    background-color: rgb(235, 235, 235);
    padding: 25px;
    margin-top: 13px;
    width: 495px;
    float: left;
}

article {
    background-color: #777;
    color: rgb(235, 235, 235);
    margin-top: 7px;
    padding: 25px;    
}

h1 {
    background-color: rgb(235, 235, 235);
    color: rgb(135, 135, 135);
    padding: 9px;
    font-size: 18px;
    margin-bottom: 0px;
}

p {
    background-color: rgb(235, 235, 235);
    color: rgb(135, 135, 135);
    padding: 9px;
    font-size: 18px;
    margin-top: 9px;
}

aside {
    overflow: auto;
    background-color: rgb(235, 235, 235);
    padding: 25px;
    margin-top: 13px;
    margin-left: 15px;
    width: 350px;
    height: 222px;
    float: left;
}

footer {
    background-color: rgb(235, 235, 235);
    padding: 25px;
    margin-top: 13px;
}

.clear {
    content: "";
    display: table;
    clear: both;
}